<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MBSA Comp Test</title>
    <!-- Bootstrap core CSS -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/DataServices.js"></script>
    <script src="~/lib/angular.min.js"></script>
    <link href="/lib/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="~/js/site.js"></script>
    <!-- Custom styles for this template -->
    <link href="/lib/css/3-col-portfolio.css" rel="stylesheet">
</head>
<body ng-app="mbsa">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Test Application</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive"></div>
        </div>
    </nav>
    <!-- Page Content -->
    <div class="container">
     @RenderBody();
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Test Application</p>
        </div>
        <!-- /.container -->
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="/lib/vendor/jquery/jquery.min.js"></script>
    <script src="/lib/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
